<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>query</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Serv1</servlet-name>
    <servlet-class>p1.teacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>tr_login</servlet-name>
    <servlet-class>p1.tr_login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>p1.Welcome</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>cpwd</servlet-name>
    <servlet-class>p1.cpwd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>stud_login</servlet-name>
    <servlet-class>p2.stud_login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>St_Welcome</servlet-name>
    <servlet-class>p2.St_Welcome</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>stud_cpwd</servlet-name>
    <servlet-class>p2.stud_cpwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv1</servlet-name>
    <url-pattern>/Serv1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tr_login</servlet-name>
    <url-pattern>/tr_login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cpwd</servlet-name>
    <url-pattern>/cpwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>stud_login</servlet-name>
    <url-pattern>/stud_login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>St_Welcome</servlet-name>
    <url-pattern>/St_Welcome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>stud_cpwd</servlet-name>
    <url-pattern>/stud_cpwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ask</servlet-name>
    <servlet-class>p2.Ask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ask</servlet-name>
    <url-pattern>/ask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>std_add</servlet-name>
    <servlet-class>p1.std_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>std_add</servlet-name>
    <url-pattern>/std_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>answer</servlet-name>
    <servlet-class>p1.answer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>answer</servlet-name>
    <url-pattern>/answer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>p1.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>logout</filter-name>
    <filter-class>p1.filter_logout</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>logout</filter-name>
    <url-pattern>/logout</url-pattern>
  </filter-mapping>
</web-app>